* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* font-size (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100%;
  font-size: 1.4rem;
  font-family: "Noto Sans Mono", monospace;
  overflow-x: hidden;
  color: white;
  background-color: #2a2e33;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  margin: 0.7rem 0;
}

main {
  margin-top: 3.3rem;
}

nav {
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: small;
  padding: 0.3rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1e1f27;
}

nav a {
  display: block;
  padding: 0.6rem;
}

nav a:hover {
  text-decoration: underline;
  transition: 0.2s ease-in;
  color: #7678ED;
}

.welcome {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 8%, rgba(42, 46, 51, 1) 70%);
}

.welcome-head {
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
}

.welcome-descript {
  padding: 1rem;
  justify-content: center;
}

.woah {
  margin-top: 1rem;
  font-size: 3rem;
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red, violet);
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 10s ease-in-out infinite;
  background-size: 400% 100%;
  filter: drop-shadow(2px 2px 2px black);
}

.proj-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding: 1rem;
  text-align: left;
  margin: 0;

}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
  text-align: center;
}

.proj-img {
  width: 80%;
  object-fit: scale-down;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 20vh;
}

.contact-links {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

@media only screen and (min-width: 768px) {
  .welcome-head {
    min-width: 60vw;
  }

  .welcome-descript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5rem;
  }
}

@keyframes rainbow_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}